@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 3%;
}

.panel {
    height: 90vh;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    flex: 0.5;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: all 700ms ease-in;
}

.panel:nth-child(1) {
    background-image: url('https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    flex: 0.5;
}

.panel:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1473448912268-2022ce9509d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1682&q=80');
    flex: 0.5;
}

.panel:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1518892096458-a169843d7f7f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    flex: 0.5;
}

.panel:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80');
    flex: 0.5;
}

.panel:nth-child(5) {
    background-image: url('https://images.unsplash.com/photo-1567948038594-c15eb62231b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    flex: 0.5;
}

.panel:nth-child(6) {
    background-image: url('https://images5.alphacoders.com/705/705144.jpg');
    flex: 0.5;
}

.panel.active {
    flex: 5;
    width: 100%;
}

.panel.active h3 {
    transform: translateY(20px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

h3 {
    color: whitesmoke;
    text-align: center;
    padding-left: 3%;
    font-size: 30px;
}